#checklist {
    --background: #fff;
    --text: #414856;
    --check: #4f29f0;
    --disabled: #c3c8de;
    --width: 100px;
    --height: 180px;
    --border-radius: 10px;
    background: var(--background);
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    padding: 30px 85px;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    justify-content: center;
  }
  
  #checklist label {
    color: var(--text);
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    width: fit-content;
    transition: color 0.3s ease;
    margin-right: 20px;
  }
  
  #checklist label::before, #checklist label::after {
    content: "";
    position: absolute;
  }
  
  #checklist label::before {
    height: 2px;
    width: 8px;
    left: -27px;
    background: var(--check);
    border-radius: 2px;
    transition: background 0.3s ease;
  }
  
  #checklist label:after {
    height: 4px;
    width: 4px;
    top: 8px;
    left: -25px;
    border-radius: 50%;
  }
  
  #checklist input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    outline: none;
    border: 0;
    margin: 0 15px 0 0;
    cursor: pointer;
    background: var(--background);
    display: grid;
    align-items: center;
    margin-right: 20px;
  }
  
  #checklist input[type="checkbox"]::before, #checklist input[type="checkbox"]::after {
    content: "";
    position: absolute;
    height: 2px;
    top: auto;
    background: var(--check);
    border-radius: 2px;
  }
  
  #checklist input[type="checkbox"]::before {
    width: 0px;
    right: 60%;
    transform-origin: right bottom;
  }
  
  #checklist input[type="checkbox"]::after {
    width: 0px;
    left: 40%;
    transform-origin: left bottom;
  }
  
  #checklist input[type="checkbox"]:checked::before {
    animation: check-01 0.4s ease forwards;
  }
  
  #checklist input[type="checkbox"]:checked::after {
    animation: check-02 0.4s ease forwards;
  }
  
  #checklist input[type="checkbox"]:checked + label {
    color: var(--disabled);
    animation: move 0.3s ease 0.1s forwards;
  }
  
  #checklist input[type="checkbox"]:checked + label::before {
    background: var(--disabled);
    animation: slice 0.4s ease forwards;
  }
  
  #checklist input[type="checkbox"]:checked + label::after {
    animation: firework 0.5s ease forwards 0.1s;
  }

  #checklist2 {
    --background: #fff;
    --text: #414856;
    --check: #4f29f0;
    --disabled: #c3c8de;
    --width: 100px;
    --height: 180px;
    --border-radius: 10px;
    background: var(--background);
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    padding: 30px 85px;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    justify-content: center;
  }
  
  #checklist2 label {
    color: var(--text);
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    width: fit-content;
    transition: color 0.3s ease;
    margin-right: 20px;
  }
  
  #checklist2 label::before, #checklist2 label::after {
    content: "";
    position: absolute;
  }
  
  #checklist2 label::before {
    height: 2px;
    width: 8px;
    left: -27px;
    background: var(--check);
    border-radius: 2px;
    transition: background 0.3s ease;
  }
  
  #checklist2 label:after {
    height: 4px;
    width: 4px;
    top: 8px;
    left: -25px;
    border-radius: 50%;
  }
  
  #checklist2 input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    outline: none;
    border: 0;
    margin: 0 15px 0 0;
    cursor: pointer;
    background: var(--background);
    display: grid;
    align-items: center;
    margin-right: 20px;
  }
  
  #checklist2 input[type="checkbox"]::before, #checklist2 input[type="checkbox"]::after {
    content: "";
    position: absolute;
    height: 2px;
    top: auto;
    background: var(--check);
    border-radius: 2px;
  }
  
  #checklist2 input[type="checkbox"]::before {
    width: 0px;
    right: 60%;
    transform-origin: right bottom;
  }
  
  #checklist2 input[type="checkbox"]::after {
    width: 0px;
    left: 40%;
    transform-origin: left bottom;
  }
  
  #checklist2 input[type="checkbox"]:checked::before {
    animation: check-01 0.4s ease forwards;
  }
  
  #checklist2 input[type="checkbox"]:checked::after {
    animation: check-02 0.4s ease forwards;
  }
  
  #checklist2 input[type="checkbox"]:checked + label {
    color: var(--disabled);
    animation: move 0.3s ease 0.1s forwards;
  }
  
  #checklist2 input[type="checkbox"]:checked + label::before {
    background: var(--disabled);
    animation: slice 0.4s ease forwards;
  }
  
  #checklist2 input[type="checkbox"]:checked + label::after {
    animation: firework 0.5s ease forwards 0.1s;
  }

  #checklist3 {
    --background: #fff;
    --text: #414856;
    --check: #4f29f0;
    --disabled: #c3c8de;
    --width: 100px;
    --height: 180px;
    --border-radius: 10px;
    background: var(--background);
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    padding: 30px 85px;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    justify-content: center;
  }
  
  #checklist3 label {
    color: var(--text);
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    width: fit-content;
    transition: color 0.3s ease;
    margin-right: 20px;
  }
  
  #checklist3 label::before, #checklist3 label::after {
    content: "";
    position: absolute;
  }
  
  #checklist3 label::before {
    height: 2px;
    width: 8px;
    left: -27px;
    background: var(--check);
    border-radius: 2px;
    transition: background 0.3s ease;
  }
  
  #checklist3 label:after {
    height: 4px;
    width: 4px;
    top: 8px;
    left: -25px;
    border-radius: 50%;
  }
  
  #checklist3 input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    outline: none;
    border: 0;
    margin: 0 15px 0 0;
    cursor: pointer;
    background: var(--background);
    display: grid;
    align-items: center;
    margin-right: 20px;
  }
  
  #checklist3 input[type="checkbox"]::before, #checklist3 input[type="checkbox"]::after {
    content: "";
    position: absolute;
    height: 2px;
    top: auto;
    background: var(--check);
    border-radius: 2px;
  }
  
  #checklist3 input[type="checkbox"]::before {
    width: 0px;
    right: 60%;
    transform-origin: right bottom;
  }
  
  #checklist3 input[type="checkbox"]::after {
    width: 0px;
    left: 40%;
    transform-origin: left bottom;
  }
  
  #checklist3 input[type="checkbox"]:checked::before {
    animation: check-01 0.4s ease forwards;
  }
  
  #checklist3 input[type="checkbox"]:checked::after {
    animation: check-02 0.4s ease forwards;
  }
  
  #checklist3 input[type="checkbox"]:checked + label {
    color: var(--disabled);
    animation: move 0.3s ease 0.1s forwards;
  }
  
  #checklist3 input[type="checkbox"]:checked + label::before {
    background: var(--disabled);
    animation: slice 0.4s ease forwards;
  }
  
  #checklist3 input[type="checkbox"]:checked + label::after {
    animation: firework 0.5s ease forwards 0.1s;
  }
  
  @keyframes move {
    50% {
      padding-left: 8px;
      padding-right: 0px;
    }
  
    100% {
      padding-right: 4px;
    }
  }
  
  @keyframes slice {
    60% {
      width: 100%;
      left: 4px;
    }
  
    100% {
      width: 100%;
      left: -2px;
      padding-left: 0;
    }
  }
  
  @keyframes check-01 {
    0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
    }
  
    50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
  
    51% {
      width: 0px;
      top: 8px;
      transform: rotate(45deg);
    }
  
    100% {
      width: 5px;
      top: 8px;
      transform: rotate(45deg);
    }
  }
  
  @keyframes check-02 {
    0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
    }
  
    50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
    }
  
    51% {
      width: 0px;
      top: 8px;
      transform: rotate(-45deg);
    }
  
    100% {
      width: 10px;
      top: 8px;
      transform: rotate(-45deg);
    }
  }
  
  @keyframes firework {
    0% {
      opacity: 1;
      box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
    }
  
    30% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0, 14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0, -14px -8px 0 0px #4f29f0;
    }
  }

  #checklist-compara1,
#checklist-compara2,
#checklist-compara3 {
    --background: #fff;
    --text: #414856;
    --check: #4f29f0;
    --disabled: #c3c8de;
    --width: 100px;
    --height: 180px;
    --border-radius: 10px;
    background: var(--background);
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    padding: 30px 85px;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    justify-content: center;
}

#checklist-compara1 label,
#checklist-compara2 label,
#checklist-compara3 label {
    color: var(--text);
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    width: fit-content;
    transition: color 0.3s ease;
    margin-right: 20px;
}

#checklist-compara1 label::before, 
#checklist-compara2 label::before, 
#checklist-compara3 label::before,
#checklist-compara1 label::after, 
#checklist-compara2 label::after, 
#checklist-compara3 label::after {
    content: "";
    position: absolute;
}

#checklist-compara1 label::before,
#checklist-compara2 label::before,
#checklist-compara3 label::before {
    height: 2px;
    width: 8px;
    left: -27px;
    background: var(--check);
    border-radius: 2px;
    transition: background 0.3s ease;
}

#checklist-compara1 label::after, 
#checklist-compara2 label::after, 
#checklist-compara3 label::after {
    height: 4px;
    width: 4px;
    top: 8px;
    left: -25px;
    border-radius: 50%;
}

#checklist-compara1 input[type="checkbox"], 
#checklist-compara2 input[type="checkbox"], 
#checklist-compara3 input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    outline: none;
    border: 0;
    margin: 0 15px 0 0;
    cursor: pointer;
    background: var(--background);
    display: grid;
    align-items: center;
    margin-right: 20px;
}

#checklist-compara1 input[type="checkbox"]::before, 
#checklist-compara2 input[type="checkbox"]::before, 
#checklist-compara3 input[type="checkbox"]::before, 
#checklist-compara1 input[type="checkbox"]::after, 
#checklist-compara2 input[type="checkbox"]::after, 
#checklist-compara3 input[type="checkbox"]::after {
    content: "";
    position: absolute;
    height: 2px;
    top: auto;
    background: var(--check);
    border-radius: 2px;
}

#checklist-compara1 input[type="checkbox"]::before, 
#checklist-compara2 input[type="checkbox"]::before, 
#checklist-compara3 input[type="checkbox"]::before {
    width: 0px;
    right: 60%;
    transform-origin: right bottom;
}

#checklist-compara1 input[type="checkbox"]::after, 
#checklist-compara2 input[type="checkbox"]::after, 
#checklist-compara3 input[type="checkbox"]::after {
    width: 0px;
    left: 40%;
    transform-origin: left bottom;
}

#checklist-compara1 input[type="checkbox"]:checked::before, 
#checklist-compara2 input[type="checkbox"]:checked::before, 
#checklist-compara3 input[type="checkbox"]:checked::before {
    animation: check-01 0.4s ease forwards;
}

#checklist-compara1 input[type="checkbox"]:checked::after, 
#checklist-compara2 input[type="checkbox"]:checked::after, 
#checklist-compara3 input[type="checkbox"]:checked::after {
    animation: check-02 0.4s ease forwards;
}

#checklist-compara1 input[type="checkbox"]:checked + label, 
#checklist-compara2 input[type="checkbox"]:checked + label, 
#checklist-compara3 input[type="checkbox"]:checked + label {
    color: var(--disabled);
    animation: move 0.3s ease 0.1s forwards;
}

#checklist-compara1 input[type="checkbox"]:checked + label::before, 
#checklist-compara2 input[type="checkbox"]:checked + label::before, 
#checklist-compara3 input[type="checkbox"]:checked + label::before {
    background: var(--disabled);
    animation: slice 0.4s ease forwards;
}

#checklist-compara1 input[type="checkbox"]:checked + label::after, 
#checklist-compara2 input[type="checkbox"]:checked + label::after, 
#checklist-compara3 input[type="checkbox"]:checked + label::after {
    animation: firework 0.5s ease forwards 0.1s;
}

/* */ 

#checklist-comparar1,
#checklist-comparar2,
#checklist-comparar3 {
    --background: #fff;
    --text: #414856;
    --check: #4f29f0;
    --disabled: #c3c8de;
    --width: 100px;
    --height: 180px;
    --border-radius: 10px;
    background: var(--background);
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    padding: 30px 85px;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    justify-content: center;
}

#checklist-comparar1 label,
#checklist-comparar2 label,
#checklist-comparar3 label {
    color: var(--text);
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    width: fit-content;
    transition: color 0.3s ease;
    margin-right: 20px;
}

#checklist-comparar1 label::before, 
#checklist-comparar2 label::before, 
#checklist-comparar3 label::before,
#checklist-comparar1 label::after, 
#checklist-comparar2 label::after, 
#checklist-comparar3 label::after {
    content: "";
    position: absolute;
}

#checklist-comparar1 label::before,
#checklist-comparar2 label::before,
#checklist-comparar3 label::before {
    height: 2px;
    width: 8px;
    left: -27px;
    background: var(--check);
    border-radius: 2px;
    transition: background 0.3s ease;
}

#checklist-comparar1 label::after, 
#checklist-comparar2 label::after, 
#checklist-comparar3 label::after {
    height: 4px;
    width: 4px;
    top: 8px;
    left: -25px;
    border-radius: 50%;
}

#checklist-comparar1 input[type="checkbox"], 
#checklist-comparar2 input[type="checkbox"], 
#checklist-comparar3 input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    outline: none;
    border: 0;
    margin: 0 15px 0 0;
    cursor: pointer;
    background: var(--background);
    display: grid;
    align-items: center;
    margin-right: 20px;
}

#checklist-comparar1 input[type="checkbox"]::before, 
#checklist-comparar2 input[type="checkbox"]::before, 
#checklist-comparar3 input[type="checkbox"]::before, 
#checklist-comparar1 input[type="checkbox"]::after, 
#checklist-comparar2 input[type="checkbox"]::after, 
#checklist-comparar3 input[type="checkbox"]::after {
    content: "";
    position: absolute;
    height: 2px;
    top: auto;
    background: var(--check);
    border-radius: 2px;
}

#checklist-comparar1 input[type="checkbox"]::before, 
#checklist-comparar2 input[type="checkbox"]::before, 
#checklist-comparar3 input[type="checkbox"]::before {
    width: 0px;
    right: 60%;
    transform-origin: right bottom;
}

#checklist-comparar1 input[type="checkbox"]::after, 
#checklist-comparar2 input[type="checkbox"]::after, 
#checklist-comparar3 input[type="checkbox"]::after {
    width: 0px;
    left: 40%;
    transform-origin: left bottom;
}

#checklist-comparar1 input[type="checkbox"]:checked::before, 
#checklist-comparar2 input[type="checkbox"]:checked::before, 
#checklist-comparar3 input[type="checkbox"]:checked::before {
    animation: check-01 0.4s ease forwards;
}

#checklist-comparar1 input[type="checkbox"]:checked::after, 
#checklist-comparar2 input[type="checkbox"]:checked::after, 
#checklist-comparar3 input[type="checkbox"]:checked::after {
    animation: check-02 0.4s ease forwards;
}

#checklist-comparar1 input[type="checkbox"]:checked + label, 
#checklist-comparar2 input[type="checkbox"]:checked + label, 
#checklist-comparar3 input[type="checkbox"]:checked + label {
    color: var(--disabled);
    animation: move 0.3s ease 0.1s forwards;
}

#checklist-comparar1 input[type="checkbox"]:checked + label::before, 
#checklist-comparar2 input[type="checkbox"]:checked + label::before, 
#checklist-comparar3 input[type="checkbox"]:checked + label::before {
    background: var(--disabled);
    animation: slice 0.4s ease forwards;
}

#checklist-comparar1 input[type="checkbox"]:checked + label::after, 
#checklist-comparar2 input[type="checkbox"]:checked + label::after, 
#checklist-comparar3 input[type="checkbox"]:checked + label::after {
    animation: firework 0.5s ease forwards 0.1s;
}