@font-face {
    font-family: poppins-sb;
    src: url(../Fonts/Poppins-SemiBold.ttf);
  }
  @font-face {
    font-family: poppins;
    src: url(../Fonts/Poppins-Regular.ttf);
  }

* {
    
    margin: 0;
    padding: 0;
}



body {
    font-size: 25px;
    font-family: monospace;
    color: #58637E;
}

.header {
    background-color: #1D2332;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.header img {
    width: 105px;
    margin-top: 2px;
}


.header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    font-size: 17px;
    font-family: Inter, monospace;
    margin-right: 5%;
}

.header .navbar a {
    color: white;
    text-decoration: none;
}

.header .navbar a:hover{
    color: #5A8FB1;
}

.content {
    background-color: #f6f6f6;
}

.footer {
    background-color: #1D2332;
    width: 100%;
    color: white;
}

.footer img {
    width: 300px;
}

.containerHeader {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.viao{
    width: 100%;
}

.containerContent {
    background-color: #1D2332;
    background-image: url(../Images/viao.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.containerContent span{
    font-size: 6.5vw;
    font-family: poppins-sb;
    position: absolute;
    bottom: 183px;
    left: 25px;
}

.containerContent p{
    font-size: 1.3vw;
    position: absolute;
    font-family: poppins;
    bottom: 180px;
    left: 35px;
}

.containerContent button{
    background-color: #1D2332;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 50px;
    left: 300px;
    padding: 20px 50px ;
    font-size: 30px;
    color: white;
    text-decoration: none;
    border-radius: 27px;
    font-family: poppins;
}

.content b{
    font-family: poppins-sb;
    position: relative;
    left: 50%;
    right: 50%;
}