@font-face {
    font-family: poppins-sb;
    src: url(../Fonts/Poppins-SemiBold.ttf);
  }
  @font-face {
    font-family: poppins;
    src: url(../Fonts/Poppins-Regular.ttf);
  }

* {
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
  }

body {
    
    font-family: poppins;
}

.header {
    background-color: #1D2332;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.header img {
    width: 105px;
    margin-top: 2px;
}


.header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    font-size: 17px;
    font-family: Inter, monospace;
    margin-right: 5%;
}

.header .navbar a {
    color: white;
    text-decoration: none;
}

.header .navbar a:hover{
    color: #5A8FB1;
}

.content {
    background-color: #9e9e9e;
    text-align: center;
}

.footer {
    background-color: #1D2332;
    width: 100%;
    color: white;
}

.footer img {
    width: 100px;
}

.containerHeader {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.viao{
    width: 100%;
}

.containerContent {
    background-color: #1D2332;
    background-image: url(../Images/viao.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 5px black;
    border-bottom:solid 2px #1D2332;
}

.containerContent span{
    font-size: 6.5vw;
    font-family: poppins-sb;
    position: absolute;
    bottom: 183px;
    left: 25px;
}

.containerContent p{
    font-size: 1.3vw;
    position: absolute;
    font-family: poppins;
    bottom: 180px;
    left: 35px;
}

.containerContent button{
    background-color: #1D2332;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 115px;
    left: 170px;
    padding: 10px 35px ;
    font-size: 12px;
    color: white;
    text-decoration: none;
    border-radius: 27px;
    font-family: poppins-sb;
    cursor: pointer;
}

.containerContent button:hover{
    color: #5A8FB1;
    transition: 0.5s;
}

.content b{
    font-size: 40px;
    font-family: poppins-sb;
    color: #2d3241;
    position: static;
    text-align: center;
    
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container > div {
    background-color: #1D2332;
    width: 450vw;
    margin: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 25px;
    color: white;
    font-family: poppins-sb;
    font-size: 20px;
    font-weight: 400;
  }

    .titulo:hover{
    color: #5A8FB1;
    transition: 0.5s;
  }

  .flex-container .flex-texto{
    font-family: poppins;
    font-size: 15px;
    margin: 15px;
    margin-top: 0px;
  }

  .container-cadastro {
    position: fixed; 
    top: 40;
    right: 0;
    width: 70vh; 
    height: 90vh;
    display: none; 
    justify-content: center;
    align-items: center;
    background-color: #e9e9e8; 
}

.cadastro-box {
    width: 40vh; 
    height: auto;
    background-color: #e9e9e8;
    padding: 20px;
    border-radius: 10px;
    margin-right: 5%; 
}

.cadastro-box h1{
    font-family:Arial, Helvetica, sans-serif
}

.cadastro-box img {
    width: 100px;
    height: 90px;
}


form {
    display: flex;
    flex-direction: column;
}

input, select, button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #5f637a;

}
input::placeholder {
    background-color: #5f637a;
    color: white;
}

button {
    background-color: #3e446b;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}